.home-container{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #1d1d1d;
}

.tag{
    font-family: 'La Belle Aurore', cursive;
    text-align: left;
    color: #515152;
    font-style: italic;
    font-size: 19px;
    margin: 0;
    padding: 0;
    height: 40px;
    width: 100%;
}

.tag-body{
    margin-left: 25px;
}

.tag-h1,
.tag-p1{
    margin: 0 auto;
    width: 95%;
}