.container{
    width: 80%;
    height: fit-content;
    padding: 50px 0;
    max-width: var(--maxWidth);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.titleClass{
    font-family: var(--prompt);
    font-size: 30px;
    font-weight: 500;
    width: fit-content;
    margin: 0 auto;
    color: var(--black);
    width: 100%;
    text-align: left;
    height: fit-content;
}

.titleClass > span{
    display: inline-block;
    width: 2px;
    height: 50px;
    background-color: var(--black);
    margin-right: 20px;
    position: absolute;
}

.titleClass > p{
    margin: 0;
    margin-left: 20px;
}

.card{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    font-family: var(--prompt);
    padding: 30px 20px;
}

.header{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 60px;
    background-color: var(--lightPink);
    color: var(--gray);
}

.label{
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
    color: var(--black);
    width: 100%;
    text-align: left;
}

.title{
    font-size: 22px;
    font-weight: 600;
    width: 100%;
    text-align: left;
}

.description{
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0;
    line-height: 1.9;
    width: 100%;
    color: var(--gray);
    width: 100%;
    text-align: left;
}

.link{
    font-weight: 600;
    width: fit-content;
    border-bottom: 1px solid var(--black);
    cursor: pointer;
}

.card:hover{
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

@media only screen and (max-width: 1180px){
    .container{
        flex-wrap: wrap;
        padding: 50px 0;
    }

    .card{
        width: 50%;
    }
}

@media only screen and (max-width: 1080px) {
    .container{
        width: 90% ;
    }
}

@media only screen and (max-width: 830px) {
    .header{
        font-size: 50px;
    }
}

@media only screen and (max-width: 620px) {
    .header{
        font-size: 50px;
    }

    .card{
        width: 100%;
        padding: 30px 0
    }

    .titleClass{
        border: 0;
        line-height: 1.4;
    }

    .titleClass::before{
        content: "";
    }
}

@media only screen and (max-width: 400px){
    .titleClass{
        font-size: 25px;
    }

    .title{
        font-size: 20px;
    }

    .description{
        font-size: 15px;
    }
}