.container{
    width: 100%;
    height: fit-content;
    padding: 40px 0;
    padding-top: 20px;
}

.content{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.title{
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}

.title > h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--black);
    font-family: var(--font-poppins);
    text-align: center;
}