.footer-container{
    height: fit-content;
    background: #1d1d1d;;
    display: flex;
    color: #fff;
    align-items: center;
}

.footer{
    width: 90%;
    margin: 0 auto;
    line-height: 1.7;
    padding: 40px 0 20px 0;
    height: 100%;
}

.footer-title{
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    width: 90%;
    max-width: 1100px;
    text-align: left;
    margin: 0 auto;
}

.footer-social{
    width: 90%;
    max-width: 1100px;
    text-align: left;
    margin: 0 auto;
    display: flex;
}

.social-media-link-footer{
    margin-right: 20px;
    font-size: 24px;
}

.social-media-link-footer > a > i{
    color: #fff;
    cursor: pointer;
}

.social-media-link-footer > a > i:hover{
    color: rgb(248, 74, 74);
}

.footer-bar{
    height: 1px;
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin: 20px 0;
}

.footer-email{
    width: 90%;
    text-align: left;
    margin: 0 auto;
    max-width: 1100px;
}

.footer-email > a{
    text-decoration: none;
    color: #fff;
}

.footer-email > a{
    color: rgb(248, 74, 74);
    margin-left: 10px;
}

.footer-copyright{
    font-size: 14px;
    font-weight: 400;
    color: var(--Gray);
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .footer-title{
        font-size: 25px;
    }
}

@media only screen and (max-width: 370px) {
    .footer-title{
        font-size: 25px;
    }

    .footer-email{
        font-size: 14px;
    }

    .footer-email > a{
        color: rgb(248, 74, 74);
        margin-left: 5px;
    }
}

@media only screen and (max-width: 370px) {
    .footer-email{
        font-size: 12px;
    }
}